#column{
    display: flex;
    border:1px solid darkgray;
    height: 50px;
    justify-content: space-between;
    font-size: 20px;


    span{
        text-align: center;
       
    }

}

.ggub{
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: space-between;

}

#deleteBtn{
    cursor: pointer;
    color: red;
    
}